body{
    background-color:darkgrey;
}

ul{
    display: flex;
    list-style: none;
    margin: 5px 2px;
    padding: 2px 2px;
}
table{
    border: solid 2px blue;
}

table th {
    border-bottom: solid 2px blue;
}

table td{
    border:none;
    padding:2px 5px;
}

input[type="decimal"]{
    width: 70px;;
}