<!DOCTYPE html>
<html lang="en">
<head>
<%- include("../partials/jobsHeader.ejs") %>
</head>
<body>
<h1>Stock Look Up</h1>
<div>
<ul>
<li> <input type="search" id = "sStocks" name="job_search" placeholder="(ie AAPL, JPM)"></li>
<li> <input type="button" name="search_jon_sub" value="search" onclick="apiSearch()"></li>
</ul>
</div>
<div id = "sTable">
<a href="https://iexcloud.io">Data provided by IEX Cloud</a>
</div>
</body>
</html>